<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.pppl.blah" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="gov.pppl.blah.menu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gov.pppl.blah.menu.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="gov.pppl.blah.menu.HostActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_host" >
        </activity>
        <activity
            android:name="gov.pppl.blah.GameActivity"
            android:screenOrientation="landscape"
            android:label="@string/game_title" >
        </activity>
        <activity
            android:name="gov.pppl.blah.menu.JoinActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_join" >
        </activity>
    </application>

</manifest>
